@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global font */
body {
  font-family: "Space Grotesk", Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #071026;
}

/* small helper for inputs to keep placeholder color visible */
::placeholder {
  color: #9aa6b2;
}